@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF2F2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: "Merriweather", serif;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
    color: #2D336B;
    font-size: 14px;
}
.wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
h1{
    font-size: 2.5em;
}
p{
    margin: 1.5em 0 .8em 0;
    font-size: 1.3em;
}
.getDate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding: .5em;
    width: 60%;
}
button{
    padding: .8em 1.4em;
    background-color: #7886C7;
    border: none;
    margin: 1.5em 0;
    border-radius: .4em;
}
button:hover{
    background-color: transparent;
    border: 1px solid #7886C7;
}