@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C14600;
    color: #FEF9E1;
}
.container{
    width: 50%;
    padding:4% 2%;
    background-color: #FF9D23;
}
h1{
    font-weight: 600;
    margin-bottom: 1.5em;
}
label{
    display: block;
    margin-bottom: .8em;
}
input, #bmi{
    margin-bottom: 2em;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #FEF9E1;
    box-shadow: inset 10px 10px 10px -1px rgba(242, 154, 46, 1), 
                inset -10px -10px 10px -1px rgba(242, 154, 46, 0.9);
}
button{
    background-color: #E5D0AC;
    padding: 10px 0;
    color: #C14600;
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #FEF9E1;
    color: #FEF9E1;
}
#bmi{
    margin-top: 1em;
}
